# Created by .ignore support plugin (hsz.mobi)
.idea/
/parsing_table.py
/parser.out
/io/
__pycache__/
/ply-3.10/
/proj_def/
/input_format.txt
/G3_output.txt
/G1_output.txt
/G2_output.txt
/9231064_LR0_Proj.rar
